{
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "proseWrap": "always",
    "quoteProps": "as-needed"
}